.container {
  // background: hsl(250, 90%, 70%);
  h3 {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  .cost {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    .rest-per-cost {
      flex-basis: 100%;
      border-top: 1px solid #ddd;
      padding: 0.5rem 0;
      font-size: 13px;
    }
  }
  .inputs-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 0.1rem;
    .rest-per-cost {
      width: 100%;
    }
    .outgo-title {
      max-width: 100%;
      color: #101010;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    .outgo-currency {
      max-width: calc(50% - 1.5rem);
      position: relative;
      text-align: right;
      font-size: 13px;
      input {
        padding-right: 2ch;
      }
      &:first-of-type {
        margin-right: 1rem;
      }
      &:first-of-type::before {
        content: "Limit";
        font-size: 10px;
        left: 0;
        top: -5px;
        position: absolute;
      }
      &:nth-of-type(2)::before {
        content: "Wydane";
        font-size: 10px;
        left: 0;
        top: -5px;
        position: absolute;
      }
      &::after {
        content: "zł";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  .buttons-wrap {
    padding: 0.3rem;
    gap: 0.1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
}
